---
http_interactions:
- request:
    method: get
    uri: https://api.elasticemail.com/v2/account/addsubaccount?accountType=2&apikey=86d209fa-5a18-4a9e-9795-9b1a5f05c192&confirmPassword=p4550rD!&email=examplee3426f5841c132722468280f2b57cf01@example.com&password=p4550rD!
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"data":"8acd40c2-cb4d-4e59-9397-e8ca5948bfdc"}'
  recorded_at: Mon, 25 Apr 2016 03:20:39 GMT
- request:
    method: get
    uri: https://api.elasticemail.com/v2/account/load?apikey=8acd40c2-cb4d-4e59-9397-e8ca5948bfdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"data":{"taxcode":"","publicaccountid":"63e3ccd0-1b4d-4355-8923-10d325b29124","apikey":"8acd40c2-cb4d-4e59-9397-e8ca5948bfdc","apikey2":null,"issub":true,"subaccountscount":0,"statusnumber":1,"statusformatted":"Active","accounttype":2,"paymentformurl":null,"logourl":"","website":"","enableprivatebranding":false,"supportlink":"","privatebrandingurl":"","firstname":null,"lastname":null,"company":null,"address1":null,"address2":null,"city":null,"state":null,"zip":null,"countryid":null,"phone":"","email":"examplee3426f5841c132722468280f2b57cf01@example.com","affiliatelink":"63e3ccd0-1b4d-4355-8923-10d325b29124","reputation":80.0,"totalemailssent":0,"monthlyemailssent":0,"credit":0.000000,"emailcredits":0,"priceperemail":0.00019,"deliveryreason":"","accountpaymenturl":null,"smtp":"smtp.elasticemail.com","smtpalternative":"smtp25.elasticemail.com","autocreditstatus":"neverenabled","autocreditlevel":0.000000,"autocreditamount":0.000000,"dailysendlimit":0,"datecreated":"2016-04-25T03:20:40","linktracking":false,"contenttransferencoding":"Base64","litmuscredits":0.0,"enablecontactfeatures":true,"accountaccesslevel":"AccountGroup","billingplan":null,"isfreebillingplan":false,"resellerpaymenturl":null,"isreseller":false,"monthlycontactsubscription":0.0000,"nextbillingdate":null,"contactscount":0,"attachmentprice":0.0,"pricelevel":"1","marketingconsent":false,"requirereportspam":false,"currency":"$","isownedbyreseller":false,"billingtypes":null,"morebillingtypes":false,"autocreditnotyetenabled":true,"mailerid":-9,"hasvaliddomain":false,"billingmethod":0,"enableuitooltips":false,"stampliaaccesstoken":null,"stampliarefreshtoken":null,"isinbound":false,"requiresemailcredits":false,"templatecredits":0,"enablepremiumtemplates":false,"requirestemplatecredits":false,"enablelitmustest":false,"requireslitmuscredits":false,"enableprivateiprequest":true,"contactbillingplan":"free","chargeforcontacts":true,"classicpricingplan":false,"throttled":"0.100000","user":null}}'
  recorded_at: Mon, 25 Apr 2016 03:20:42 GMT
- request:
    method: get
    uri: https://api.elasticemail.com/v2/contact/add?apikey=86d209fa-5a18-4a9e-9795-9b1a5f05c192&email=example981d08e087c45c95c19c279daee3c4dc@example.com&publicAccountID=63e3ccd0-1b4d-4355-8923-10d325b29124
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: '<html><meta name="viewport" content="width=device-width, height=device-height,
        initial-scale=1, maximum-scale=1, target-densitydpi=device-dpi"><body style="font-family:Arial;"><div
        style="margin: 30px auto 0 auto;padding: 20px;border: solid 5px #ccc; max-width:480px"><div
        style="margin: 0 auto; text-align:center;"><div style="margin: 30px auto 0
        auto;padding: 20px; text-align:center;">Thank you, an activation email has
        been sent to example981d08e087c45c95c19c279daee3c4dc@example.com.  Please
        check your email to complete the sign-up process.</div><h5 style="text-align:center"><br
        /> , , </h5></div></body></html>'
  recorded_at: Mon, 25 Apr 2016 03:20:43 GMT
[...]
- request:
    method: get
    uri: https://api.elasticemail.com/v2/contact/add?apikey=86d209fa-5a18-4a9e-9795-9b1a5f05c192&email=examplea91229ab02249e45f5db29c764b8b1b2@example.com&publicAccountID=2d1c4ff7-690d-455b-8d9f-17244b5e0209
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: '<html><meta name="viewport" content="width=device-width, height=device-height,
        initial-scale=1, maximum-scale=1, target-densitydpi=device-dpi"><body style="font-family:Arial;"><div
        style="margin: 30px auto 0 auto;padding: 20px;border: solid 5px #ccc; max-width:480px"><div
        style="margin: 0 auto; text-align:center;"><div style="margin: 30px auto 0
        auto;padding: 20px; text-align:center;">Thank you, an activation email has
        been sent to examplea91229ab02249e45f5db29c764b8b1b2@example.com.  Please
        check your email to complete the sign-up process.</div><h5 style="text-align:center"><br
        /> , , </h5></div></body></html>'
  recorded_at: Mon, 25 Apr 2016 03:22:57 GMT
recorded_with: VCR 2.9.3
