---
http_interactions:
- request:
    method: get
    uri: https://api.elasticemail.com/v2/account/addsubaccount?accountType=2&apikey=86d209fa-5a18-4a9e-9795-9b1a5f05c192&confirmPassword=p4550rD!&email=examplebc29fa8100b6262920004471b5b7fdcd@example.com&password=p4550rD!
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"data":"8c624f49-ef0b-4d1c-9501-8c532259d424"}'
  recorded_at: Mon, 25 Apr 2016 03:20:47 GMT
- request:
    method: get
    uri: https://api.elasticemail.com/v2/account/load?apikey=8c624f49-ef0b-4d1c-9501-8c532259d424
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"data":{"taxcode":"","publicaccountid":"19cc791a-f8a8-4fea-a75f-e4d6cb32bae8","apikey":"8c624f49-ef0b-4d1c-9501-8c532259d424","apikey2":null,"issub":true,"subaccountscount":0,"statusnumber":1,"statusformatted":"Active","accounttype":2,"paymentformurl":null,"logourl":"","website":"","enableprivatebranding":false,"supportlink":"","privatebrandingurl":"","firstname":null,"lastname":null,"company":null,"address1":null,"address2":null,"city":null,"state":null,"zip":null,"countryid":null,"phone":"","email":"examplebc29fa8100b6262920004471b5b7fdcd@example.com","affiliatelink":"19cc791a-f8a8-4fea-a75f-e4d6cb32bae8","reputation":80.0,"totalemailssent":0,"monthlyemailssent":0,"credit":0.000000,"emailcredits":0,"priceperemail":0.00019,"deliveryreason":"","accountpaymenturl":null,"smtp":"smtp.elasticemail.com","smtpalternative":"smtp25.elasticemail.com","autocreditstatus":"neverenabled","autocreditlevel":0.000000,"autocreditamount":0.000000,"dailysendlimit":0,"datecreated":"2016-04-25T03:20:47","linktracking":false,"contenttransferencoding":"Base64","litmuscredits":0.0,"enablecontactfeatures":true,"accountaccesslevel":"AccountGroup","billingplan":null,"isfreebillingplan":false,"resellerpaymenturl":null,"isreseller":false,"monthlycontactsubscription":0.0000,"nextbillingdate":null,"contactscount":0,"attachmentprice":0.0,"pricelevel":"1","marketingconsent":false,"requirereportspam":false,"currency":"$","isownedbyreseller":false,"billingtypes":null,"morebillingtypes":false,"autocreditnotyetenabled":true,"mailerid":-9,"hasvaliddomain":false,"billingmethod":0,"enableuitooltips":false,"stampliaaccesstoken":null,"stampliarefreshtoken":null,"isinbound":false,"requiresemailcredits":false,"templatecredits":0,"enablepremiumtemplates":false,"requirestemplatecredits":false,"enablelitmustest":false,"requireslitmuscredits":false,"enableprivateiprequest":true,"contactbillingplan":"free","chargeforcontacts":true,"classicpricingplan":false,"throttled":"0.100000","user":null}}'
  recorded_at: Mon, 25 Apr 2016 03:20:49 GMT
- request:
    method: get
    uri: https://api.elasticemail.com/v2/contact/add?apikey=86d209fa-5a18-4a9e-9795-9b1a5f05c192&email=examplef11776e2f46841a70763e945e6156ee8@example.com&publicAccountID=19cc791a-f8a8-4fea-a75f-e4d6cb32bae8
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: '<html><meta name="viewport" content="width=device-width, height=device-height,
        initial-scale=1, maximum-scale=1, target-densitydpi=device-dpi"><body style="font-family:Arial;"><div
        style="margin: 30px auto 0 auto;padding: 20px;border: solid 5px #ccc; max-width:480px"><div
        style="margin: 0 auto; text-align:center;"><div style="margin: 30px auto 0
        auto;padding: 20px; text-align:center;">Thank you, an activation email has
        been sent to examplef11776e2f46841a70763e945e6156ee8@example.com.  Please
        check your email to complete the sign-up process.</div><h5 style="text-align:center"><br
        /> , , </h5></div></body></html>'
  recorded_at: Mon, 25 Apr 2016 03:20:50 GMT
- request:
    method: get
    uri: https://api.elasticemail.com/v2/contact/delete?apikey=8c624f49-ef0b-4d1c-9501-8c532259d424&emails=examplef11776e2f46841a70763e945e6156ee8@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Mon, 25 Apr 2016 03:20:52 GMT
[...]
- request:
    method: get
    uri: https://api.elasticemail.com/v2/contact/delete?apikey=422a642c-4e21-4b13-a621-25684e52f2fe&emails=example9043cb157b848ad3b58c587950a1f5cf@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Mon, 25 Apr 2016 03:23:04 GMT
recorded_with: VCR 2.9.3
