---
http_interactions:
- request:
    method: get
    uri: https://api.elasticemail.com/v2/account/addsubaccount?accountType=2&apikey=2ef97152-8ef5-438c-8cfa-d26c4e1e815e&confirmPassword=p4550rD!&email=example2b547182cfb903fa989c57287f617438@example.com&password=p4550rD!
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":"88a946f0-8963-41cd-87cf-bdb4d3f59dd2"}'
  recorded_at: Sun, 17 Apr 2016 09:01:42 GMT
- request:
    method: get
    uri: https://api.elasticemail.com/v2/account/getsubaccountlist?apikey=2ef97152-8ef5-438c-8cfa-d26c4e1e815e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"accountid":"1111737","publicaccountid":"afb2af6e-abfc-47c1-8c6d-24c6706feac7","apikey":"dc5cc34e-045f-4ac4-b898-baca00402a5a","email":"examplebcaf0e346dbfc09e6728a7cb7ab60838@example.com","mailerid":"-9","accounttype":2,"lastactivity":"4/17/2016
        5:11:57 AM","emailcredits":"0","templatecredits":"0","requiresemailcredits":false,"monthlyrefillcredits":0.0,"requirestemplatecredits":false,"litmuscredits":0.0,"enablelitmustest":false,"requireslitmuscredits":false,"enablepremiumtemplates":false,"enableprivateiprequest":true,"totalemailssent":0,"unknownuserspercent":0.0,"abusepercent":0.0,"failedspampercent":0.0,"reputation":80.0,"dailysendlimit":0,"status":"Active"},{"accountid":"1111738","publicaccountid":"06af9e14-0a77-4a4b-b251-4ab2c89af2fd","apikey":"cf20a671-9ba9-4f98-a8d1-ec057ad17ac1","email":"example041886723d0bc16108ffee09182793e2@example.com","mailerid":"-9","accounttype":2,"lastactivity":"4/17/2016
        5:11:58 AM","emailcredits":"0","templatecredits":"0","requiresemailcredits":false,"monthlyrefillcredits":0.0,"requirestemplatecredits":false,"litmuscredits":0.0,"enablelitmustest":false,"requireslitmuscredits":false,"enable[...]
- request:
    method: get
    uri: https://api.elasticemail.com/v2/contact/add?apikey=2ef97152-8ef5-438c-8cfa-d26c4e1e815e&email=exampleb10d5c622558b5c1b85e6745f9eb1742@example.com&publicAccountID=afb2af6e-abfc-47c1-8c6d-24c6706feac7
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '<html><meta name="viewport" content="width=device-width, height=device-height,
        initial-scale=1, maximum-scale=1, target-densitydpi=device-dpi"><body style="font-family:Arial;"><div
        style="margin: 30px auto 0 auto;padding: 20px;border: solid 5px #ccc; max-width:480px"><div
        style="margin: 0 auto; text-align:center;"><div style="margin: 30px auto 0
        auto;padding: 20px; text-align:center;">Thank you, an activation email has
        been sent to exampleb10d5c622558b5c1b85e6745f9eb1742@example.com.  Please
        check your email to complete the sign-up process.</div><h5 style="text-align:center"><br
        /> , , </h5></div></body></html>'
  recorded_at: Sun, 17 Apr 2016 09:01:46 GMT
- request:
    method: get
    uri: https://api.elasticemail.com/v2/contact/delete?apikey=2ef97152-8ef5-438c-8cfa-d26c4e1e815e&emails=exampleb10d5c622558b5c1b85e6745f9eb1742@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"success":true}'
  recorded_at: Sun, 17 Apr 2016 09:01:49 GMT
[...]
- request:
    method: get
    uri: https://api.elasticemail.com/v2/contact/delete?apikey=2ef97152-8ef5-438c-8cfa-d26c4e1e815e&emails=email
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"success":true}'
  recorded_at: Sun, 17 Apr 2016 09:14:56 GMT
recorded_with: VCR 2.9.3
