---
http_interactions:
- request:
    method: get
    uri: https://api.elasticemail.com/v2/account/addsubaccount?accountType=2&apikey=86d209fa-5a18-4a9e-9795-9b1a5f05c192&confirmPassword=p4550rD!&email=examplec5e46715cc859d3080baea6f56555c31@example.com&password=p4550rD!
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"data":"8c497fba-8213-43ea-bab9-b17a0fdde0ed"}'
  recorded_at: Mon, 25 Apr 2016 00:55:18 GMT
- request:
    method: get
    uri: https://api.elasticemail.com/v2/account/load?apikey=86d209fa-5a18-4a9e-9795-9b1a5f05c192
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"data":{"taxcode":"","publicaccountid":"b9bfd8ad-5bbe-4320-96b5-fafc629e1ab4","apikey":"86d209fa-5a18-4a9e-9795-9b1a5f05c192","apikey2":null,"issub":false,"subaccountscount":95,"statusnumber":1,"statusformatted":"Active","accounttype":2,"paymentformurl":null,"logourl":"","website":"","enableprivatebranding":false,"supportlink":"","privatebrandingurl":"","firstname":null,"lastname":null,"company":null,"address1":null,"address2":null,"city":null,"state":null,"zip":null,"countryid":null,"phone":"","email":"klebervirgilio@gmail.com","affiliatelink":"b9bfd8ad-5bbe-4320-96b5-fafc629e1ab4","reputation":80.0,"totalemailssent":0,"monthlyemailssent":0,"credit":0.000000,"emailcredits":25000,"priceperemail":0.00019,"deliveryreason":"","accountpaymenturl":null,"smtp":"smtp.elasticemail.com","smtpalternative":"smtp25.elasticemail.com","autocreditstatus":"neverenabled","autocreditlevel":0.000000,"autocreditamount":0.000000,"dailysendlimit":0,"datecreated":"2016-04-16T04:21:46","linktracking":false,"contenttransferencoding":"Base64","litmuscredits":0.0,"enablecontactfeatures":true,"accountaccesslevel":"AccountGroup","billingplan":null,"isfreebillingplan":false,"resellerpaymenturl":null,"isreseller":false,"monthlycontactsubscription":0.0000,"nextbillingdate":null,"contactscount":0,"attachmentprice":0.0,"pricelevel":"10","marketingconsent":false,"requirereportspam":false,"currency":"$","isownedbyreseller":false,"billingtypes":null,"morebillingtypes":false,"autocreditnotyetenabled":true,"mailerid":-9,"hasvaliddomain":false,"billingmethod":0,"enableuitooltips":true,"stampliaaccesstoken":null,"stampliarefreshtoken":null,"isinbound":false,"requiresemailcredits":false,"templatecredits":0,"enablepremiumtemplates":true,"requirestemplatecredits":false,"enablelitmustest":false,"requireslitmuscredits":false,"enableprivateiprequest":true,"contactbillingplan":"free","chargeforcontacts":true,"classicpricingplan":false,"throttled":"0.100000","user":null}}'
  recorded_at: Mon, 25 Apr 2016 00:55:19 GMT
- request:
    method: get
    uri: https://api.elasticemail.com/v2/contact/add?apikey=86d209fa-5a18-4a9e-9795-9b1a5f05c192&email=example7a739b848a9802efb584ec629dfe7681@example.com&publicAccountID=b9bfd8ad-5bbe-4320-96b5-fafc629e1ab4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: '<html><meta name="viewport" content="width=device-width, height=device-height,
        initial-scale=1, maximum-scale=1, target-densitydpi=device-dpi"><body style="font-family:Arial;"><div
        style="margin: 30px auto 0 auto;padding: 20px;border: solid 5px #ccc; max-width:480px"><div
        style="margin: 0 auto; text-align:center;"><div style="margin: 30px auto 0
        auto;padding: 20px; text-align:center;">Thank you, an activation email has
        been sent to example7a739b848a9802efb584ec629dfe7681@example.com.  Please
        check your email to complete the sign-up process.</div><h5 style="text-align:center"><br
        /> , , </h5></div></body></html>'
  recorded_at: Mon, 25 Apr 2016 00:55:21 GMT
- request:
    method: get
    uri: https://api.elasticemail.com/v2/contact/delete?apikey=86d209fa-5a18-4a9e-9795-9b1a5f05c192&emails=example7a739b848a9802efb584ec629dfe7681@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Mon, 25 Apr 2016 00:55:22 GMT
- request:
    method: get
    uri: https://api.elasticemail.com/v2/account/addsubaccount?accountType=2&apikey=86d209fa-5a18-4a9e-9795-9b1a5f05c192&confirmPassword=p4550rD!&email=example@example.com&password=p4550rD!
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":false,"error":"AN ACCOUNT ALREADY EXISTS FOR THAT EMAIL
        ADDRESS"}'
  recorded_at: Mon, 25 Apr 2016 00:58:05 GMT
- request:
    method: get
    uri: https://api.elasticemail.com/v2/contact/add?apikey=86d209fa-5a18-4a9e-9795-9b1a5f05c192&email=example@example.com&publicAccountID=b9bfd8ad-5bbe-4320-96b5-fafc629e1ab4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: '<html><meta name="viewport" content="width=device-width, height=device-height,
        initial-scale=1, maximum-scale=1, target-densitydpi=device-dpi"><body style="font-family:Arial;"><div
        style="margin: 30px auto 0 auto;padding: 20px;border: solid 5px #ccc; max-width:480px"><div
        style="margin: 0 auto; text-align:center;"><div style="margin: 30px auto 0
        auto;padding: 20px; text-align:center;">Thank you, example@example.com is
        already subscribed.</div><h5 style="text-align:center"><br /> , , </h5></div></body></html>'
  recorded_at: Mon, 25 Apr 2016 00:58:06 GMT
- request:
    method: get
    uri: https://api.elasticemail.com/v2/contact/delete?apikey=86d209fa-5a18-4a9e-9795-9b1a5f05c192&emails=example@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Mon, 25 Apr 2016 00:58:08 GMT
recorded_with: VCR 2.9.3
