---
http_interactions:
- request:
    method: get
    uri: https://api.elasticemail.com/v2/account/addsubaccount?accountType=2&apikey=86d209fa-5a18-4a9e-9795-9b1a5f05c192&confirmPassword=p4550rD!&email=example5db7c1790ad64a756437b66e5f3eac7c@example.com&password=p4550rD!
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"data":"4241e6ca-760e-4799-86a6-7ef880494642"}'
  recorded_at: Mon, 25 Apr 2016 00:54:54 GMT
- request:
    method: get
    uri: https://api.elasticemail.com/v2/account/load?apikey=86d209fa-5a18-4a9e-9795-9b1a5f05c192
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"data":{"taxcode":"","publicaccountid":"b9bfd8ad-5bbe-4320-96b5-fafc629e1ab4","apikey":"86d209fa-5a18-4a9e-9795-9b1a5f05c192","apikey2":null,"issub":false,"subaccountscount":92,"statusnumber":1,"statusformatted":"Active","accounttype":2,"paymentformurl":null,"logourl":"","website":"","enableprivatebranding":false,"supportlink":"","privatebrandingurl":"","firstname":null,"lastname":null,"company":null,"address1":null,"address2":null,"city":null,"state":null,"zip":null,"countryid":null,"phone":"","email":"klebervirgilio@gmail.com","affiliatelink":"b9bfd8ad-5bbe-4320-96b5-fafc629e1ab4","reputation":80.0,"totalemailssent":0,"monthlyemailssent":0,"credit":0.000000,"emailcredits":25000,"priceperemail":0.00019,"deliveryreason":"","accountpaymenturl":null,"smtp":"smtp.elasticemail.com","smtpalternative":"smtp25.elasticemail.com","autocreditstatus":"neverenabled","autocreditlevel":0.000000,"autocreditamount":0.000000,"dailysendlimit":0,"datecreated":"2016-04-16T04:21:46","linktracking":false,"contenttransferencoding":"Base64","litmuscredits":0.0,"enablecontactfeatures":true,"accountaccesslevel":"AccountGroup","billingplan":null,"isfreebillingplan":false,"resellerpaymenturl":null,"isreseller":false,"monthlycontactsubscription":0.0000,"nextbillingdate":null,"contactscount":2,"attachmentprice":0.0,"pricelevel":"10","marketingconsent":false,"requirereportspam":false,"currency":"$","isownedbyreseller":false,"billingtypes":null,"morebillingtypes":false,"autocreditnotyetenabled":true,"mailerid":-9,"hasvaliddomain":false,"billingmethod":0,"enableuitooltips":true,"stampliaaccesstoken":null,"stampliarefreshtoken":null,"isinbound":false,"requiresemailcredits":false,"templatecredits":0,"enablepremiumtemplates":true,"requirestemplatecredits":false,"enablelitmustest":false,"requireslitmuscredits":false,"enableprivateiprequest":true,"contactbillingplan":"free","chargeforcontacts":true,"classicpricingplan":false,"throttled":"0.100000","user":null}}'
  recorded_at: Mon, 25 Apr 2016 00:54:55 GMT
- request:
    method: get
    uri: https://api.elasticemail.com/v2/contact/quickadd?apikey=86d209fa-5a18-4a9e-9795-9b1a5f05c192&emails=example426cf640505e085b2944cd2f4c6bf56c@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Mon, 25 Apr 2016 00:54:57 GMT
[...]
- request:
    method: get
    uri: https://api.elasticemail.com/v2/account/addsubaccount?accountType=2&apikey=86d209fa-5a18-4a9e-9795-9b1a5f05c192&confirmPassword=p4550rD!&email=example@example.com&password=p4550rD!
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"data":"fdc30e5e-37be-43f2-ad61-dca51e7691ae"}'
  recorded_at: Mon, 25 Apr 2016 00:57:56 GMT
- request:
    method: get
    uri: https://api.elasticemail.com/v2/contact/quickadd?apikey=86d209fa-5a18-4a9e-9795-9b1a5f05c192&emails=example@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Mon, 25 Apr 2016 00:58:00 GMT
recorded_with: VCR 2.9.3
