---
http_interactions:
- request:
    method: post
    uri: https://api.elasticemail.com/?apikey
    body:
      encoding: UTF-8
      string: "-------------RubyMultipartPost\r\nContent-Disposition: form-data; name=\"attachmentFile\";
        filename=\"local.path\"\r\nContent-Length: 66\r\nContent-Type: text/csv\r\nContent-Transfer-Encoding:
        binary\r\n\r\nemail,firstName,lastName\nexample@example.com,First Name,Last
        Name\n\r\n-------------RubyMultipartPost--\r\n\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=-----------RubyMultipartPost
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\r\n<html xmlns=\"http://www.w3.org/1999/xhtml\">\r\n<head>\r\n
        \   <title>Your Account</title>\r\n    <meta charset=\"UTF-8\" />\r\n    <meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\r\n
        \   <link rel=\"shortcut icon\" href=\"data:image/x-icon;,\" type=\"image/x-icon\"
        />\r\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css\"
        type=\"text/css\" />\r\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css\"
        type=\"text/css\" />\r\n    <link href='https://fonts.googleapis.com/css?family=Open+Sans'
        rel='stylesheet' type='text/css' />\r\n    <link rel=\"stylesheet\" href=\"https://emailinterface.s3.amazonaws.com/1.0/emailinterface.css\"
        type=\"text/css\" />\r\n\r\n    <script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-1.9.1.min.js\"></script>\r\n
        \   <script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-migrate-1.2.1.js\"></script>\r\n
        \   <script type=\"text/javascript\" src=\"https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js\"></script>\r\n
        \   <script type=\"text/javascript\" src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js\"></script>\r\n
        \   <script type=\"text/javascript\" src=\"https://www.google.com/jsapi\"></script>\r\n
        \   <script type=\"text/javascript\" src=\"https://emailinterface.s3.amazonaws.com/1.0/emailinterface.js\"></script>\r\n</head>\r\n<body>\r\n
        \   <div id=\"mycontainer\"></div>\r\n    <script type=\"text/javascript\">\r\n
        \       ee.api.path = \"https://api.elasticemail.com\";\r\n        ee.init('mycontainer',
        true);\r\n    </script>\r\n</body>\r\n</html>\r\n"
  recorded_at: Mon, 25 Apr 2016 03:54:51 GMT
- request:
    method: post
    uri: https://api.elasticemail.com/v2/attachment/upload?apikey=86d209fa-5a18-4a9e-9795-9b1a5f05c192
    body:
      encoding: UTF-8
      string: "-------------RubyMultipartPost\r\nContent-Disposition: form-data; name=\"attachmentFile\";
        filename=\"local.path\"\r\nContent-Length: 66\r\nContent-Type: text/csv\r\nContent-Transfer-Encoding:
        binary\r\n\r\nemail,firstName,lastName\nexample@example.com,First Name,Last
        Name\n\r\n-------------RubyMultipartPost--\r\n\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=-----------RubyMultipartPost
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":false,"error":"Error: Not enough credit for attachments."}'
  recorded_at: Mon, 25 Apr 2016 03:56:40 GMT
recorded_with: VCR 2.9.3
